
/*--------form-----------*/
.search-form {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 30%;
    height: 55vh;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
